.HP_Right {
    width: 280px;
    min-width: 200px;
    background: var(--fcpc-white);
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    height: 100vh;
}

.HP_Profile_Card {

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.HP_Profile_Card img {
    border-radius: 50%;
    width: 50%;
}

.HP_Profile_Name {
    font-weight: 600;
    margin: 0;
}

.HP_Profile_Role {
    color: #888;
    font-size: 0.85rem;
    margin: 0;
}

.HP_Profile_Btn {
    margin-top: 8px;
    padding: 8px 24px;
    border-radius: 10px;
    border: none;
    background: #6f6ca34a;
    color: var(--fcpc-dark-blue);
    font-weight: 600;
    cursor: pointer;
}

.HP_Reminders {
    padding: 0 20px;
}

.HP_Section_Title {
    font-weight: 600;
    margin-bottom: 12px;
}

.HP_Reminder_Item {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #fff;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.HP_Bell_Icon_Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6f6ca34a;
    border-radius: 8px;
    padding: 8px;
    color: var(--fcpc-dark-blue);
}

.HP_Bell_SVG {
    display: block;
}


.HP_Reminder_Subject {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
}

.HP_Reminder_Date {
    font-size: 0.7rem;
    color: #888;
    margin: 0;
}